{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 768px;
    max-width: 1024px;
    margin: auto;
    background-color: skyblue;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Dashboard</title>
</head>
<body style="height: 100%;">
    <nav class="navbar navbar-expand-lg bg-primary py-4 px-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-5 text-white" href="{% url "dashboard" %}">Fontaine Scholarship</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="{% url "prodi" %}">Data Prodi</a>
                    <a class="nav-link text-white" aria-current="page" href="{% url "jurusan" %}">Data Jurusan</a>
                    <a class="nav-link text-white" aria-current="page" href="{% url "mahasiswa" %}">Data Mahasiswa</a>
                    <a class="nav-link text-white" href="{% url "logout" %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="mt-5 mx-5">
        <div class="d-flex flex-wrap mb-4">
            <div class="card w-100";>
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <hr class="mb-3 mt-0">
                    <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#gantiPsw{{ user.id }}">Ganti Password</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="gantiPsw{{ user.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" action="{% url 'ganti_password' %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title">
                        Ganti Password {{ user.username }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label>Password Lama</label>
                        {{ form.old_password }}
                    </div>

                    <div class="mb-3">
                        <label>Password Baru</label>
                        {{ form.new_password1 }}
                    </div>

                    <div class="mb-3">
                        <label>Konfirmasi Password</label>
                        {{ form.new_password2 }}
                    </div>

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                        Batal
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Konfirmasi
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
    </div>

</body>

<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</html>