{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 768px;
    max-width: 1024px;
    margin: auto;
    background-color: skyblue;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Dashboard</title>
</head>
<body style="height: 100%;">
    <nav class="navbar navbar-expand-lg bg-primary py-4 px-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-5 text-white" href="#">Fontaine Scholarship</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="#">Data Mahasiswa</a>
                    <a class="nav-link text-white" href="{% url "logout" %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="mt-5 mx-5">
        <div class="d-flex flex-wrap mb-4">
            <div class="card w-100";>
                <div class="card-body text-center">
                    <h5 class="card-title">Total Mahasiswa</h5>
                    <hr class="mb-3 mt-0">
                    <h6 class="card-subtitle mb-2 text-body-secondary fw-bold">{{ dt_mhs|length }}</h6>
                </div>
            </div>
        </div>

        <div>
            <div class="search-bar d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2 mb-2">
                <form class="d-flex flex-grow-1">
                    <input class="form-control me-2" type="search" name="q" placeholder="NIM Mahasiswa" value="{{ request.GET.q }}">
                    <button class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
                </form>
                <a type="button" class="btn btn-primary w-md-auto" href="{% url 'create' %}"><i class="bi bi-person-plus-fill"></i></a>
            </div>
            <div class="border rounded table-responsive">
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                        <th scope="col">NIM</th>
                        <th scope="col">Nama</th>
                        <th scope "col">Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in dt_mhs %}
                        <tr>
                                <td>{{ m.nim }}</td>
                                <td>{{ m.nama }}</td>
                                <td>
                                    <div>
                                        <a href="{% url 'edit' m.id %}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ m.id }}"><i class="bi bi-trash"></i></a>
                                    </div>
                                </td>
                        </tr>
                        {% comment %} Popup Delete {% endcomment %}
                        <div class="modal fade" id="deleteModal{{ m.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ m.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel{{ m.id }}">Konfirmasi Hapus Data?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah Anda yakin ingin menghapus mahasiswa {{ m.nama }} ({{ m.nim }})?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Batal</button>
                                        <a href="{% url 'hapus' m.id %}" class="btn btn-danger">Konfirmasi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</html>